<!DOCTYPE html>
<html>
<head>
	<title>Twitter app</title>

	<link rel="stylesheet" href="../static/css/main.css" type="text/css" />
</head>
<body>
	<div id='main-content'>
	<h1>TWITTER SEARCH</h1>
	<form action="" method='post'>
		<input type='text' name='name'>
		<br>
		<button type='submit' value="Search" name="search">Search</button>
	</form>

		<br>
		<% for (var i = 0; i < result.length; i++) { %>
		<div class='result-body'>
			<%= result[i].user %>:
			<br><br>
			<%= result[i].text %>
			<br><br>
			<%= result[i].created %>
		</div>
		<br>
		<% } %>
	</div>
	<!--<script src="http://code.jquery.com/jquery-1.11.0.min.js"></script> -->
	<!--<script src="../static/js/twit.js"></script> -->
</body>
</html>