body, html {
	margin: auto;
	padding: 0;
	position: absolute;
	width: 100%;
	font-family: helvetica, sans-serif, arial;
}

h1, h2, h3, h4 {
	text-align: center;
}

#main-content {
	margin: auto;
	width: 80%;
}

.result-body {
	background: #4099ff;
	border-radius: 15px;
	padding: 25px;
	border: 1px solid #111;
	color: #FAFAFA;
}

input[type=submit] {
	border: 1px solid #111;
	border-radius: 10%;
	background: #fff;
	cursor: pointer;
}